body {
    margin: 0;
    padding: 0;
    background: black;
}

#board {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    background-image: url("../Basic Asset Pack/grassBackground.jpg");
    background-size: cover;
}

#player {
    position: absolute;
    background-image: url("../Basic Asset Pack/basic animal animations/Tiny Chick/TinyChick.png");
    background-size: cover;
}


#block, #block2, #block3, #block4 {
    position: absolute;
    background-image: url("../Basic Asset Pack/basic animal animations/Timber Wolf/TimberWolf.png");
    background-size: cover;
}

#finish {
    position: absolute;
    background-image: url("../Basic Asset Pack/Cartoon_green_texture_grass.jpg");
    background-size: cover;
}

#lane{
    outline: 1vw dashed grey;
    position: absolute;
}

#scoreBoard{
    background-color: black;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    padding: 10px;
    font-size: 1.5vw;
}