body {
    margin: 0;
    padding: 0;
    background: black;
}

#board {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    background-image: url("../Images/Street\ background.png");
    background-size: cover;
}

#player {
    position: absolute;
    background-image: url("../Images/chicken.PNG");
    background-size: cover;
}


#block, #block3 {
    position: absolute;
    background-image: url("../Images/car01iso_0001.png");
    background-size: contain;
}

#block2, #block4 {
    position: absolute;
    background-image: url("../Images/pickuptruck01iso_0005.png");
    background-size: contain;
}

#finish {
    position: absolute;
}

#lane{
    outline: 1vw dashed grey;
    position: absolute;
}

#scoreBoard{
    background-color: black;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    padding: 10px;
    font-size: 1.5vw;
}

#highScoreBoard{
    background-color: black;
    position: absolute;
    top: 48px;
    left: 10px;
    color: white;
    padding: 10px;
    font-size: 1.5vw;
}